<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74197580-1', 'auto');
  ga('send', 'pageview');

</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Travel Blog -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3663020342013995"
     data-ad-slot="4347962269"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>I am currently travelling in South East Asia for 3 and a half months. </p>
		<p><b>Current Location:</b> Koh Tao - Thailand</p>
		<p><b>Next Location:</b> Surat Thani - Thailand</p>
		<p><b>Time travelling:</b> 3 weeks</p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Recent Articles</h2>
		<hr>

		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>

		<%= link_to "View all", posts_path %>

	</div>
	<div class="col-3 homepage_content">
		<%= image_tag("railey west beach.JPG", :alt => "", :style => "width: 35em; height: 28em") %>
	</div>
</div>
