<h1>Contact me</h1>
<div class="content">
	<p>Disclaimer: My reply will be neither fast nor detailed, no offence</p>
	<p>Email: patrickcollings@hotmail.co.uk</p>
	<p>Facebook: Link - <a href="//www.facebook.com/pa2t8ch" target="_blank">Patrick Collings</a></p>
</div>